name: Label for Deployment
on:
  pull_request:
    branches: [ main ]
    types: [ labeled ]

jobs:
  comment:
    if: github.event.label.name == 'deployment-dev' || github.event.label.name == 'deployment-stage'    
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Comment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr comment ${{github.event.number}} -b "User ${{ github.actor }} Started a deployment on ${{ github.event.label.name == 'deployment-stage' && 'stage' || 'dev' }} with branch ${{ github.ref_name }}"
  trigger:
    if: github.event.label.name == 'deployment-dev' || github.event.label.name == 'deployment-stage'    
    uses: ./.github/workflows/merge.yml
    with:
      target_branch: ${{ github.event.label.name == 'deployment-stage' && 'stage' || 'dev' }}
      source_branch: ${{ github.ref_name }}
