name: Merge for Deployment
on:
  workflow_call:
    inputs:
      target_branch:
        required: true
        type: string
      source_branch:
        required: true
        type: string
      
jobs:
  merge:
    if: inputs.target_branch == 'dev' || inputs.target_branch == 'stage'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ inputs.target_branch }}
          fetch-depth: 0
      - name: Reset, Merge & push
        run: |
          /usr/bin/git reset --hard origin/main
          /usr/bin/git merge ${{ inputs.source_branch }}
          /usr/bin/git push origin ${{ inputs.target_branch }} -f
